* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

}

img {
    width: 100%;
}

h2 {
    margin: 0;
    font-weight:600;
}

p {
    margin:0;
}

ul {
    display: flex;
    padding: 0;
    list-style-type: none;
    font-size: 1rem;
    margin: 0;
}

a {
    text-decoration: none;
    color:white;
    padding: .75em 1.4em;
}

.nav {
    display: flex;
    visibility: hidden;
}


header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0011ad;
    position: sticky;
    top: 0;
    padding: 1em 0 1em 0;
    z-index: 1;
}

.menu-btn {
    padding: .5em 1.5em;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background-color:#0d21d1;
    color:white

}

.main {
    width: 100%;
    min-height: 30vh;
    color: white;
}

.main-title {
    margin: 0 auto;
}

.main-para {
    margin: .5rem auto;
}

.main-container {
    padding: 1rem;
    background: url('../assets/images/computer.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0,0,0,0.7);
    background-blend-mode: multiply;
    min-height: 30vh;
}

.section-container{
    margin: 0 auto;
}

.section {
    padding: 1rem;
    border-radius: 3px;
    box-shadow: 1px 2px 6px black;
    opacity: 0;
}

.col {
    display: flex;
    flex-direction: column;
}

.section.collaboration {
    display: flex;
    flex-direction: column;
    justify-items: baseline;
    margin: 2rem auto;
}

.col h2 {
    margin-top: .5em;
}

.section-para {
    margin-top: 10px;
}

.section.scroll-right {
    animation: slide-in-right .5s ease-in-out both;
}

.section.scroll-left {
    animation: slide-in-left .5s ease-in-out both;
}

@media (max-width:370px) {
    body{
        min-width: 370px;
    }
}

@media (min-width:420px){
    .col {
        align-items: center;
    }

    .section {
        max-width: 420px;
        margin: 0 auto;
    }
}

@media (min-width:720px) {
    .menu-btn {
        visibility: hidden;
    }

    .nav {
        visibility:visible;
    }
  
    .col {
        flex-basis: 45%;
    }

    .col h2 {
        margin: 0;
    }
}

@media (min-width: 1082px){
    .section-container,
    .section.collaboration {
        max-width: 1082px;
    }

    .section.collaboration {
        flex-direction: row;
        justify-content: space-around;
    }
}

@keyframes slide-in-right {
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }

    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes slide-in-left {
    0%{
        opacity: 0;
        transform: translateX(50px);
    }

    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}